{{#each drinks}}
<div class="card" >
  <div class="card header">
    <img src="{{image}}" alt="Image of {{drink_name}}">
    <a href ="/reviews/{{id}}">{{drink_name}}</a>
  </div>
  <div class="card-body">
    <p>
      {{review}}
    </p>
  </div>
</div>


    {{!-- <div>
      <p>
        {{user_id}}.
        {{drink_name}}
      </p>
    </div> --}}

    {{!-- <div>
      <p>
        {{review}}
      </p>
    </div> --}}
{{/each}}